<lac-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc" showRefresh
  initialPageSize="25">
  <h2 lac-table-title>
    {{customTitle}}

    <button mat-raised-button class="ml-2" color="primary" [routerLink]="['new']">
      New worker
    </button>
  </h2>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}} <a [routerLink]="[row._id]">
        <mat-icon>edit</mat-icon>
      </a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.status | workerStatus}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="tasks">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Running Instances</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.runningInstances}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="config">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Configuration File</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-raised-button class="ml-2" color="primary" (click)="downloadConfigFile(row)">
        <mat-icon>get_app</mat-icon> config.json
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay$"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay$; "></mat-row>
</lac-table>
