.login-card {
  width: 100%;
  padding: 2em;
}

.login-card-content {
  align-items: center;
}

.login-card-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  width: 100%;
}
