<ngx-loading [show]="loading"></ngx-loading>
<div class="content-wrapper">
  <div class="container-fluid pt-4">
    <form [formGroup]="form" (submit)="submit()">

      <div class="row">
        <mat-form-field class="col-6">
          <input matInput placeholder="Name" formControlName="name">
          <mat-error>{{getErrorMessage('name')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="col-2">
          <input matInput type="number" placeholder="Error Count Limit" formControlName="errorCountLimit">
          <mat-error>{{getErrorMessage('errorCountLimit')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="col-2">
          <mat-select placeholder="Priority" formControlName="priority">
            <mat-option [value]="0">Minimum</mat-option>
            <mat-option [value]="1">Low</mat-option>
            <mat-option [value]="2">Normal</mat-option>
            <mat-option [value]="3">High</mat-option>
            <mat-option [value]="4">Urgent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col">
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
          <mat-error>{{getErrorMessage('description')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-2">
          <mat-select placeholder="Runnable Type" formControlName="runnableType">
            <mat-option value="java -jar">Java (java -jar)</mat-option>
            <mat-option value="python3">Python 3 (python3)</mat-option>
          </mat-select>
          <mat-error>{{getErrorMessage('runnableType')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="col">
          <mat-select placeholder="Runnable File" formControlName="runnable" #runnableSelect>
            <mat-option>
              <ngx-mat-select-search noEntriesFoundLabel="No files were found" placeholderLabel="Search"
                [formControl]="fileFilterCtrl"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let file of filteredFiles | async" [value]="file._id">
              {{file.uploadTime | date: 'short'}} - {{file.name}}
            </mat-option>
          </mat-select>
          <mat-error>{{getErrorMessage('runnable')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col">
          <input matInput placeholder="Command template" formControlName="template">
          <mat-error>{{getErrorMessage('template')}}</mat-error>
        </mat-form-field>

        <div class="col-1">
          <button mat-mini-fab color="primary" (click)="addInput()" type="button">
            <mat-icon aria-label="Add input">add</mat-icon>
          </button>
        </div>
      </div>

      <div formArrayName="inputs" *ngFor="let input of form.get('inputs').controls; let i=index">
        <div [formGroupName]="i" class="row">
          <div class="col">
            <div class="row">
              <mat-form-field class="col-1">
                <input matInput placeholder="Index" type="number" formControlName="index" [readonly]="true">
                <mat-error>{{getErrorMessage('index', i)}}</mat-error>
              </mat-form-field>
              <mat-form-field class="col-1">
                <input matInput placeholder="Priority" type="number" formControlName="priority">
                <mat-error>{{getErrorMessage('priority', i)}}</mat-error>
              </mat-form-field>
              <mat-form-field class="col">
                <input matInput placeholder="Label" formControlName="label">
                <mat-error>{{getErrorMessage('label', i)}}</mat-error>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-select placeholder="Type" formControlName="type">
                  <mat-option value="CommaSeparatedValues">Comma Separated Values</mat-option>
                  <mat-option value="StartEndStep">Start End Step</mat-option>
                  <mat-option value="Files">Files</mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage('type', i)}}</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <input *ngIf="inputTypes[i] != 'Files'" matInput placeholder="Input" formControlName="input">
                <mat-select *ngIf="inputTypes[i] == 'Files'" multiple placeholder="Files" formControlName="input">
                  <mat-option>
                    <ngx-mat-select-search noEntriesFoundLabel="No files were found" placeholderLabel="Search"
                      [formControl]="fileFilterCtrl"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let file of filteredFiles | async" [value]="file._id">
                    {{file.uploadTime | date: 'short'}} - {{file.name}}
                  </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage('input', i)}}</mat-error>
              </mat-form-field>

              <div class="col-1">
                <button mat-mini-fab color="primary" (click)="removeInput(i)" type="button">
                  <mat-icon aria-label="Remove input">remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <mat-divider class="mb-2"></mat-divider>
      </div>

      <button mat-raised-button color="accent" type="submit" class="mt-2">Submit</button>
      <mat-error class="mt-1 mb-1">{{errorMessage}}</mat-error>
    </form>
  </div>
</div>
