<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav in" id="side-menu">
      <li>
        <a><i class="glyphicon glyphicon-stats"></i> Simulation Groups</a>
        <ul class="nav nav-second-level collapse in">
          <li>
            <a href="executing-simulation-groups"><span id="executing-badge" class="badge">0</span> Executing</a>
          </li>
          <li>
            <a href="finished-simulation-groups"><span id="finished-badge" class="badge">0</span> Finished</a>
          </li>
          <li>
             <a href="new-simulation-group"><span class="glyphicon glyphicon-plus"></span> New</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="workers"><i class="glyphicon glyphicon-fire"></i> Workers</a>
      </li>
      <li>
        <a href="logs"><i class="glyphicon glyphicon-file"></i> Logs</a>
      </li>
    </ul>
  </div>
</div>

<script>
   function updateBadges() {
      updateExecutingBadge();
      updateFinishedBadge();
      setInterval( updateExecutingBadge, 5000 );
      setInterval( updateFinishedBadge, 5000 );
   }

   function updateExecutingBadge() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
         if ( this.readyState == 4 && this.status == 200 ) {
            document.getElementById( 'executing-badge' ).innerHTML = JSON.parse( xhttp.responseText ).result;
         }
      };
      xhttp.open( 'GET', '/api/simulation_group/count_executing/', true );
      xhttp.send();
   }

   function updateFinishedBadge() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
         if ( this.readyState == 4 && this.status == 200 ) {
            document.getElementById( 'finished-badge' ).innerHTML = JSON.parse( xhttp.responseText ).result;
         }
      };
      xhttp.open( 'GET', '/api/simulation_group/count_finished/', true );
      xhttp.send();
   }

   window.onload = updateBadges;
</script>
