.navbar {
  background-color: #343a40;
}

  .navbar .navbar-brand {
    color: #ecf0f1;
  }

    .navbar .navbar-brand:hover,
    .navbar .navbar-brand:focus {
      color: #ffffff;
    }

  .navbar .navbar-text {
    color: #ecf0f1;
  }

    .navbar .navbar-text a {
      color: #ffffff;
    }

      .navbar .navbar-text a:hover,
      .navbar .navbar-text a:focus {
        color: #ffffff;
      }

  .navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }

    .navbar .navbar-nav .nav-link:not(.disabled):hover,
    .navbar .navbar-nav .nav-link:not(.disabled):focus {
      color: #ffffff;
    }

  .navbar .navbar-nav .dropdown-menu {
    background-color: #36404e;
    border-color: #1e242b;
  }

    .navbar .navbar-nav .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }

      .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
      .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
      .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #1e242b;
      }

    .navbar .navbar-nav .dropdown-menu .dropdown-divider {
      border-top-color: #1e242b;
    }

  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #1e242b;
  }

  .navbar .navbar-toggle {
    border-color: #1e242b;
  }

    .navbar .navbar-toggle:hover,
    .navbar .navbar-toggle:focus {
      background-color: #1e242b;
    }

    .navbar .navbar-toggle .navbar-toggler-icon {
      color: #ecf0f1;
    }

  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1;
  }

  .navbar .navbar-link {
    color: #ecf0f1;
  }

    .navbar .navbar-link:hover {
      color: #ffffff;
    }

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #1e242b;
    }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #1e242b;
    }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #1e242b;
    }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #1e242b;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #1e242b;
  }

  .gridster li {
    background-color: #dfdfdf;
  }

.gridster .running {
  background-color: #4cff00;
}

.gridster .paused {
  background-color: #ffcc66;
}

.gridster h5 {
  font-family:Calibri
}

.sort-icon {
  font-size: 9px;
  margin-left: 5px;
}

th {
  cursor: pointer;
}

.form-group {
  margin-bottom: 10px;
  display: block;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

small.warning {
  color: red;
  display: block;
  text-align: center;
}

/*.inner-center {
  width: 80%;
  margin: 0 auto;
}*/

.outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

.dropdown-menu {
  min-width: 100%;
}

.navbar-bottom {
  bottom: 0;
  width: 100%;
  position: absolute;
}

footer.sticky-footer {
  width: 100%;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}