<!DOCTYPE html>

<html ng-app>
<head>
  <meta charset="utf-8" />
  <title>Home | WebSimAdmin</title>

  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/sb-admin/css/sb-admin.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
  <header ng-include src="'navigation.ejs'"></header>


  <!-- Scripts -->
  <script src="/angular/angular.min.js"></script>
  <script src="/app/dashboard.js"></script>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/sb-admin/js/sb-admin.min.js"></script>
  <!--<script src="/popper/popper.min.js"></script>-->
</body>
</html>