<ngx-loading [show]="loading"></ngx-loading>
<div class="content-wrapper" [hidden]="route.firstChild">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <app-task-list [tasksetId]="tasksetId"></app-task-list>
      </div>
      <div class="col-3" *ngIf="taskset">
        <mat-card class="form-card mt-4">
          <mat-card-header>
            <mat-card-title>{{taskset.name}}</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="pt-2">
            <mat-list>
              <h3 mat-subheader>Details</h3>
              <p mat-line>Name: {{taskset.name}}</p>
              <p mat-line *ngIf="taskset.description">Description: {{taskset.description}}</p>
              <p mat-line>Command Template: {{taskset.argumentTemplate}}</p>
              <p mat-line>Error Limit: {{taskset.errorLimitCount}}</p>
              <p mat-line>
                Tasks: {{taskset.totalTasksCount - taskset.remainingTasksCount}}/{{taskset.totalTasksCount}}
              </p>
              <p mat-line>State: {{taskset.state | statePipe}}</p>
              <p mat-line *ngIf="taskset.startTime">
                Start Time: {{taskset.startTime | date: 'short'}}
              </p>
              <p mat-line *ngIf="!taskset.startTime">
                Start Time: N/A
              </p>
              <p mat-line *ngIf="taskset.endTime">
                End Time: {{taskset.endTime | date: 'short'}}
              </p>
              <p mat-line *ngIf="!taskset.endTime">
                End Time: N/A
              </p>
            </mat-list>

            <div class="row">
              <button mat-raised-button (click)="graphs()" color="primary" class="ml-2 mt-2">Graphs</button>
              <!-- <button mat-raised-button (click)="export()" color="primary" class="ml-2 mt-2">Export</button> -->
            </div>

            <div class="row">
              <button mat-raised-button (click)="clone()" color="primary" class="ml-2 mt-2">Clone</button>
              <button mat-raised-button (click)="export()" color="primary" class="ml-2 mt-2">Export</button>
            </div>

            <div class="row">
              <button mat-raised-button (click)="delete()" class="btn-danger ml-2 mt-2">Delete</button>
              <button mat-raised-button (click)="cancel()" class="btn-danger ml-2 mt-2">Cancel</button>
              <button mat-raised-button (click)="restart()" class="btn-danger ml-2 mt-2">Restart</button>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="container-fluid">
        <app-log-list></app-log-list>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
