<mat-card class="m-2">
    <div *ngIf="files.length == 0">
        <div class="centered">Click on the plus sign to upload files...</div>
    </div>

    <div *ngIf="files.length > 0">
        <div *ngFor="let item of files; let i = index;">
            <div class="d-flex align-items-center">
                <button mat-raised-button class="mr-2" type="button">
                    <mat-icon *ngIf="!item.finished">hourglass_empty</mat-icon>
                    <mat-icon *ngIf="item.finished">check</mat-icon>
                </button>
                <div class="file-data">
                    <mat-progress-bar mode="determinate" value="{{item.progress}}"
                        *ngIf="!item.finished && (item.progress != null && item.progress != 100)">
                    </mat-progress-bar>
                    <mat-progress-bar mode="indeterminate"
                        *ngIf="!item.finished && (item.progress != null && item.progress == 100)">
                    </mat-progress-bar>
                    <p>
                        {{item.name}}</p>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>

    </div>


    <div *ngIf="!readOnly" class="float-right">
        <input type="file" (change)="success($event)" id="file-input" hidden #fileInput [multiple]="!single"
            (click)="fileInput.value = null">
        <div>
            <button mat-mini-fab color="primary" (click)="clickFileInput()" type="button">
                <mat-icon aria-label="Add file">add</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
