<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened fullscreen class="sidenav" [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="0">
    <button mat-menu-item class="sidenav-button" (click)="home()">
      <mat-icon>house</mat-icon> Home
    </button>
    <button mat-menu-item class="sidenav-button" (click)="workers()">
      <mat-icon>computer</mat-icon> Workers
    </button>
    <button mat-menu-item class="sidenav-button">
      <mat-icon>archive</mat-icon> TaskSets
    </button>
    <button mat-menu-item class="sidenav-button" (click)="logs()">
      <mat-icon>description</mat-icon> Logs
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content text-align" [hidden]="route.firstChild">
      Menu at your left side
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
