<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened fullscreen class="sidenav" [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="0">
    <button mat-menu-item class="sidenav-button" (click)="home()">
      <mat-icon>house</mat-icon> Home
    </button>
    <button mat-menu-item class="sidenav-button" (click)="workers()">
      <mat-icon>computer</mat-icon> Workers
    </button>

    <button mat-menu-item [matMenuTriggerFor]="taskSetsMenu" class="sidenav-button">
      <mat-icon>archive</mat-icon> TaskSets
    </button>

    <mat-menu #taskSetsMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="tasksets()">
        <mat-icon>playlist_play</mat-icon> All
      </button>
      <button mat-menu-item (click)="executingTasksets()">
        <mat-icon>playlist_play</mat-icon> Executing
      </button>
      <button mat-menu-item (click)="finishedTasksets()">
        <mat-icon>playlist_add_check</mat-icon> Finished
      </button>
      <button mat-menu-item (click)="canceledTasksets()">
        <mat-icon>delete</mat-icon> Canceled
      </button>
    </mat-menu>

    <button mat-menu-item class="sidenav-button" (click)="logs()">
      <mat-icon>description</mat-icon> Logs
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content text-align" [hidden]="route.firstChild">
      Menu at your left side
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
