<div class="container">
  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <img class="img-fluid rounded" src="/assets/graph_home.png" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <h1>Dispatcher</h1>
      <p>Dispatcher is a distributed system manager which dispatches (in a fault tolerant way) heavy computing
        simulation tasks to worker machines that do the processing. This system will lead to optimum time spent
        configuring your simulations in a distributed system.</p>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->
  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Execute your simulations in a distributed environment to get faster results</p>
    </div>
  </div>
  <a [routerLink]="['dashboard']">
    <div class="card text-white bg-primary my-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Access the dashboard</p>
      </div>
    </div>
  </a>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-6 mb-6">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Fault Tolerant</h2>
          <p class="card-text">This system guarantees consistency and correctness on simulations by detecting when an
            execution fails and acting accordingly.</p>
        </div>
        <div class="card-footer">
          <!-- <a href="#" class="btn btn-primary">More Info</a> -->
        </div>
      </div>
    </div>
    <!-- /.col-md-6 -->
    <div class="col-md-6 mb-6">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Custom Graphs</h2>
          <p class="card-text">Create different graphs according to which parameters you wish to compare, selecting from
            the results of the simulations.</p>
        </div>
        <div class="card-footer">
          <!-- <a href="#" class="btn btn-primary">More Info</a> -->
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
