<div class="content-wrapper">
  <div class="container-fluid">
    <div class="alert alert-danger mx-auto mt-5" ng-if="errorMessage">{{ errorMessage }}</div>
    <div class="card mx-auto mt-5">
      <div class="card-header text-center">New task set</div>
      <div class="card-body">
        <form name="addTaskSetForm" novalidate>
          <div class="form-group">
            <div class="mb-3">
              <label>Name</label>
              <input class="form-control form-control-success" type="text" ng-model="addTaskForm.name" ng-required="true"/>
            </div>
            <!--<div class="mb-3">

            </div>-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Runnable type</span>
              </div>
              <select class="custom-select col-md-1" ng-model="addTaskForm.runnableInfo.info" ng-options="supportedRunnableInfo.type for supportedRunnableInfo in supportedRunnablesInfo"></select>
              <div class="input-group-prepend">
                <span class="input-group-text">Runnable</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" fileread="addTaskForm.runnableInfo.runnable" ng-disabled="!addTaskForm.runnableInfo.info.type">
                <label class="custom-file-label" ng-disabled="true">{{addTaskForm.runnableInfo.runnable[0].name}}</label>
              </div>
            </div>
            <div class="mb-3">
              <label>Task arguments template</label>
              <div>
                <div class="input-group">
                  <input class="form-control form-control-success" id="argumentsTemplate" name="argumentsTemplate" ng-model="addTaskForm.argumentsTemplate" type="text" ng-change="clear()">
                  <span class="input-group-btn">
                    <button class="btn btn-dark" type="button" ng-click="parse(addTaskForm.argumentsTemplate)"><i class="fa fa-fw fa-check"></i> Parse</button>
                  </span>
                </div>
                <div ng-show="addTaskSetForm.argumentsTemplate.$touched && addTaskSetForm.commandLine.$invalid">
                  <small class="warning">Enter a command line</small>
                </div>
                <div class="container-fluid">
                  <span class="badge badge-pill badge-secondary">Interpretive Directives</span>
                  <button type="button" class="btn btn-link" ng-click="addInterpretiveDirective('%n')">Number</button>
                  <button type="button" class="btn btn-link" ng-click="addInterpretiveDirective('%s')">String</button>
                  <button type="button" class="btn btn-link" ng-click="addInterpretiveDirective('%f')">File</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" id="inputContainer"></div>
        </form>
      </div>
    </div>
  </div>
</div>
