<div class="content-wrapper">
  <div class="container-fluid">
    <div class="alert alert-danger mx-auto mt-5" ng-if="errorMessage">{{ errorMessage }}</div>
    <div class="card mx-auto mt-5">
      <div class="card-header text-center">New task group set</div>
      <div class="card-body">
        <form name="addTaskGroupForm" novalidate>
          <div class="form-group">
            <label>Task command line</label>
            <div>
              <div class="input-group">
                <input class="form-control form-control-success" name="commandLine" ng-model="addTaskForm.commandLine" type="text" ng-change="clear()" ng-required="true">
                <span class="input-group-btn">
                  <button class="btn btn-dark" type="button" ng-click="parse(addTaskForm.commandLine)">Parse</button>
                </span>
              </div>
              <div ng-show="addTaskGroupForm.commandLine.$touched && addTaskGroupForm.commandLine.$invalid">
                <small class="warning">Enter a command line</small>
              </div>
            </div>
          </div>
          <div id="inputContainer"></div>
        </form>
      </div>
    </div>
  </div>
</div>
