<div class="content-wrapper">
  <div class="container-fluid">
    <h3 style="margin-left: 5px">Task Set "{{taskSet.name}}"</h3>
    <div class="horizontal-rule"></div>
    <div class="container-details">
        <div class="box two">
          <h4>Details</h4>
          <div class="horizontal-rule"></div>
          <p><b>Status: </b>{{formatTaskSetState(taskSet.state)}}</p>
          <p><b>Priority: </b>{{formatPriority(taskSet.priority)}}</p>
          <p><b>Start: </b>{{taskSet.startTime | date : "MMM d, y HH:mm:ss Z" }}</p>
          <p><b>End: </b>{{taskSet.endTime | date : "MMM d, y HH:mm:ss Z" }}</p>
          <p><b>Command Template: </b>{{taskSet.argumentTemplate}}</p>


          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="fa fa-fw fa-download"></span>  Export
            </button>
            <div class="dropdown-menu">
              <!--<span class="dropdown-item" ng-click="export(finishedTaskSet._id, 'json')">JSON</span>-->
              <a class="dropdown-item" ng-href="/api/task/export/?format=json&taskSetId={{taskSet._id}}" download="{{taskSet.name}}.zip">JSON</a>
              <a class="dropdown-item" ng-href="/api/task/export/?format=csv&taskSetId={{taskSet._id}}" download="{{taskSet.name}}.zip">CSV</a>
            </div>
          </div><br>
          <button class="btn btn-large btn-primary" ng-click="openGraphs(taskSet._id)"><span class="fa fa-fw fa-line-chart"></span> Graphs</button><br><br>
          <button class="btn btn-large btn-primary" ng-click="clone(taskSet._id)"><span class="fa fa-fw fa-clone"></span> Clone</button><br><br>
          <button class="btn btn-large btn-danger" ng-if="taskSet.state === 0" ng-click="openCancel(taskSet._id)"><span class="fa fa-fw fa-times"></span> Cancel</button>
          <button class="btn btn-large btn-danger" ng-click="openRemove(taskSet._id)"><span class="fa fa-fw fa-trash"></span> Remove</button>
        </div>
        <div class="box one">
            <h4>Tasks</h4>
            <div class="horizontal-rule"></div>
            <table class="table">
                <thead>
                  <tr ng-click="toggle=!toggle" ng-init="toggle=false">
                    <th>Prec.</th>
                    <th>State</th>
                    <th>Errors</th>
                    <th>Duration</th>
                    <th>Command</th>
                  </tr>
                </thead>
                <tbody>
                  <tr pagination-id="paginate1" dir-paginate="task in taskSet.tasks |  orderBy: !toggle?'-':'+' | itemsPerPage: 10 track by task._id">
                    <td>{{task.precedence}}</td>
                    <td>{{formatTaskState(task.state)}}</td>
                    <td>{{task.errorCount}}</td>
                    <td>{{getDurationString(task)}}</td>
                    <td>{{task.commandLine}}</td>
                  </tr>
                </tbody>
              </table>

              <dir-pagination-controls pagination-id="paginate1" max-size="5" direction-links="true" boundary-links="true" class="page-link" ng-if="taskSet.tasks.length > 10"></dir-pagination-controls>
          
        </div>
        <div class="box wide three">
            <h4>Logs</h4>
            <div class="horizontal-rule"></div>
            <table class="table">
                <thead>
                  <tr ng-click="toggle=!toggle" ng-init="toggle=false">
                    <th style='width:10%'>Level</th>
                    <th>Date</th>
                    <th style='width:65%'>Log</th>
                  </tr>
                </thead>
                <tbody>
                  <tr pagination-id="paginate2" dir-paginate="log in logs |  orderBy: !toggle?'-':'+' | itemsPerPage: 10 track by log._id">
                    <td ng-switch="log.level">
                      <span class="badge badge-primary" ng-switch-when="0">TRACE</span>
                      <span class="badge badge-success" ng-switch-when="1">DEBUG</span>
                      <span class="badge badge-info" ng-switch-when="2">INFO</span>
                      <span class="badge badge-warning" ng-switch-when="3">WARN</span>
                      <span class="badge badge-danger" ng-switch-when="4">ERROR</span>
                      <span class="badge badge-dark" ng-switch-when="5">FATAL</span>
                    </td>
                    <td>{{log.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    <td>{{log.log}}</td>
                  </tr>
                </tbody>
              </table>

              <dir-pagination-controls pagination-id="paginate2" max-size="5" direction-links="true" boundary-links="true" class="page-link" ng-if="logs.length > 10"></dir-pagination-controls>
        </div>
    </div>
  </div>
</div>
