<div class="content-wrapper">
  <div class="container-fluid">
    <div class="alert alert-primary text-center" role="alert" ng-cloak ng-if="!executingTaskSets.length">
      <i class="fa fa-fw fa-info-circle"></i> You currently have no executing groups. You can create one <a href="#!add" class="alert-link">here</a>!
    </div>

    <div ng-if="executingTaskSets.length">
      <form class="form-inline">
        <div class="form-group mb-3">
          <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th ng-click="sort('name')">
              Name
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='name'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('remaining_tasks')">
              Remaining Tasks
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='remaining_tasks'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('start_time')">
              Start Time
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='start_time'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="executingTaskSet in executingTaskSets | orderBy: sortKey:reverse | filter: search | itemsPerPage: 10 track by executingTaskSet._id">
            <td><a ng-href="#!graph/{{executingTaskSet._id}}">{{executingTaskSet.name}}</a></td>
            <td>{{executingTaskSet.remainingTasksCount}}</td>
            <td>{{executingTaskSet.startTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td><button class="btn btn-large btn-danger" ng-click="removeTaskSet(executingTaskSet._id)"><span class="fa fa-fw fa-trash"></span> Remove</button></td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" class="page-link" ng-if="executingTaskSets.length > 10"></dir-pagination-controls>
    </div>
  </div>
</div>