<div class="content-wrapper">
  <div class="container-fluid">
    <div class="alert alert-primary text-center" role="alert" ng-cloak ng-if="!finishedTaskSets.length">
      <i class="fa fa-fw fa-info-circle"></i> You currently have no finished groups.
    </div>

    <div ng-if="finishedTaskSets.length">
      <form class="form-inline">
        <div class="form-group mb-3">
          <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th ng-click="sort('name')">
              Name
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='name'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('start_time')">
              Start Time
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='start_time'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('end_time')">
              End Time
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='end_time'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="finishedTaskSet in finishedTaskSets | orderBy: sortKey:reverse | filter: search | itemsPerPage: 10 track by finishedTaskSet._id">
            <td><a ng-href="#!graph/{{finishedTaskSet._id}}">{{finishedTaskSet.name}}</a></td>
            <td>{{finishedTaskSet.startTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{finishedTaskSet.endTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td><button class="btn btn-large btn-primary"><span class="fa fa-fw fa-arrow-down"></span> Export</button></td>
            <td><button class="btn btn-large btn-danger" ng-click="removeTaskSet(finishedTaskSet._id)"><span class="fa fa-fw fa-trash"></span> Remove</button></td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
    </div>
  </div>
</div>