<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div uib-alert="" ng-class="'alert-success'" class="col align-self-center" role="alert" ng-if="argumentTemplate">
        <div class="text-center"><b>Arguments: </b>{{argumentTemplate}}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-sm-12 container h-100">
    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
  </div>

  <form name="graphForm" novalidate>
    <div class="btn-group">
      <div class="p-2">
        <label>Curve</label>
        <select class="custom-select" ng-model="graph.curve" ng-options="curve.value as curve.key for curve in curves" ng-required="true"></select>
      </div>
      <div class="p-2">
        <label>X Axis</label>
        <select class="custom-select" ng-model="graph.xAxis" ng-options="axis for axis in axes" ng-required="true"></select>
      </div>
      <div class="p-2">
        <label>Y Axis</label>
        <select class="custom-select" ng-model="graph.yAxis" ng-options="axis for axis in axes" ng-required="true"></select>
      </div>
    </div>
    <div class="p-2">
      <input class="btn btn-primary" ng-click="getPlotData(graph)" ng-disabled="graphForm.$invalid" value="Plot">
    </div>
  </form>
</div>
