<div class="content-wrapper">
  <h3 ng-show="taskSet" style="margin-left: 5px">Logs from Task Set: {{taskSet.name}}</h3>
  <h3 ng-hide="taskSet" style="margin-left: 5px">General Logs</h3>
  <table class="table">
    <thead>
      <tr ng-click="toggle=!toggle" ng-init="toggle=false">
        <th style='width:10%'>Level</th>
        <th>Date</th>
        <th style='width:65%'>Log</th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="log in logs |  orderBy: !toggle?'-':'+' | itemsPerPage: 15 track by log._id">
        <td ng-switch="log.level">
          <span class="badge badge-primary" ng-switch-when="0">TRACE</span>
          <span class="badge badge-success" ng-switch-when="1">DEBUG</span>
          <span class="badge badge-info" ng-switch-when="2">INFO</span>
          <span class="badge badge-warning" ng-switch-when="3">WARN</span>
          <span class="badge badge-danger" ng-switch-when="4">ERROR</span>
          <span class="badge badge-dark" ng-switch-when="5">FATAL</span>
        </td>
        <td>{{log.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        <td>{{log.log}}</td>
      </tr>
    </tbody>
  </table>
  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" class="page-link" ng-if="logs.length > 15"></dir-pagination-controls>
</div>