<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Executing -->
    <h3 style="margin-left: 5px">Executing Task Sets</h3>
    <div class="horizontal-rule"></div>
    <div class="alert alert-primary text-center" role="alert" ng-cloak ng-if="!executingTaskSets.length">
      <i class="fa fa-fw fa-info-circle"></i> You currently have no executing Task Sets. You can create one <a href="#!add" class="alert-link">here</a>!
    </div>
    <div ng-if="executingTaskSets.length">
      <form class="form-inline">
        <div class="form-group mb-3">
          <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th ng-click="sort('name')">
              Name
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='name'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('remaining_tasks')">
              Remaining Tasks
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='remaining_tasks'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('start_time')">
              Start Time
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='start_time'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr pagination-id="executing" dir-paginate="taskSet in executingTaskSets | orderBy: sortKey:reverse | filter: search | itemsPerPage: 10 track by taskSet._id">
            <td><a ng-href="#!tasks/{{taskSet._id}}">{{taskSet.name}}</a></td>
            <td>{{taskSet.remainingTasksCount}}</td>
            <td>{{taskSet.startTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls pagination-id="executing" max-size="5" direction-links="true" boundary-links="true" class="page-link" ng-if="executingTaskSets.length > 10"></dir-pagination-controls>
    </div>

    <!-- Finished -->
    <div ng-if="finishedTaskSets.length">
      <h3 style="margin-left: 5px">Finished Task Sets</h3>
      <div class="horizontal-rule"></div>
      <form class="form-inline">
        <div class="form-group mb-3">
          <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th ng-click="sort('name')">
              Name
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='name'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('start_time')">
              Start Time
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='start_time'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('end_time')">
              End Time
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='end_time'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr pagination-id="finished" dir-paginate="taskSet in finishedTaskSets | orderBy: sortKey:reverse | filter: search | itemsPerPage: 10 track by taskSet._id">
            <td><a ng-href="#!tasks/{{taskSet._id}}">{{taskSet.name}}</a></td>
            <td>{{taskSet.startTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{taskSet.endTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls pagination-id="finished" max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
    </div>

    <!-- Canceled -->
    <div ng-if="canceledTaskSets.length">
      <h3 style="margin-left: 5px">Canceled Task Sets</h3>
      <div class="horizontal-rule"></div>
      <form class="form-inline">
        <div class="form-group mb-3">
          <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th ng-click="sort('name')">
              Name
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='name'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('start_time')">
              Start Time
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='start_time'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
            <th ng-click="sort('end_time')">
              Cancel Time
              <i class="fa fa-fw fa-sort" ng-show="sortKey=='end_time'" ng-class="{'fa fa-fw fa-sort-up':reverse,'fa fa-fw fa-sort-down':!reverse}"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr pagination-id="canceled" dir-paginate="taskSet in canceledTaskSets | orderBy: sortKey:reverse | filter: search | itemsPerPage: 10 track by taskSet._id">
            <td><a ng-href="#!tasks/{{taskSet._id}}">{{taskSet.name}}</a></td>
            <td>{{taskSet.startTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{taskSet.endTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls pagination-id="canceled" max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
    </div>
  </div>
</div>