<div class="content-wrapper">
  <div class="container-fluid">
    <h3 class="text-center">Running</h3>
    <hr />

    <div class="alert alert-primary text-center" role="alert" ng-cloak ng-if="!(workers | filter: { state: 0 }).length">
      You currently have no running workers.
    </div>

    <div gridster>
      <ul>
        <li class="outer" gridster-item="item" ng-repeat="worker in workers track by worker.uuid" ng-show="worker.state === 0">
          <div class="h6 text-center mt-3"><span class="badge badge-primary">{{worker.runningInstances}} Tasks</span> <strong>{{worker.alias}} {{worker.address}}</strong></div>
          <hr />
          <div class="inner">
            <ng-gauge size="140" type="arch" thick="10" min="0" max="100" value="( 1 - worker.resource.cpu ) * 100" cap="flat" label="CPU" background-color="rgba(255,255,255, 1.0)" append="%" fraction-size="0" thresholds="threshold"></ng-gauge>
            <ng-gauge size="140" type="arch" thick="10" min="0" max="100" value="( 1 - worker.resource.memory ) * 100" cap="flat" label="Memory" background-color="rgba(255,255,255, 1.0)" append="%" fraction-size="0" thresholds="threshold"></ng-gauge>
          </div>
        </li>
      </ul>
    </div>

    <h3 class="text-center">Paused</h3>
    <hr />

    <div class="alert alert-primary text-center" role="alert" ng-cloak ng-if="!(workers | filter: { state: 0 }).length">
      You currently have no paused workers.
    </div>

    <div gridster>
      <ul>
        <li gridster-item="item" ng-repeat="worker in workers track by worker.uuid" ng-show="worker.state === 1">
          <h6 class="text-center paused">ORION01 - 192.168.25.1</h6>
          <div class="inner-center">
            <ng-gauge size="120" type="full" thick="5" min="0" max="120" value="30.2" cap="round" label="CPU" foreground-color="#ffcc66" background-color="rgba(255,255,255, 1.0)" append="%"></ng-gauge>
            <ng-gauge size="120" type="full" thick="5" min="0" max="120" value="30.2" cap="round" label="Memory" foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>