<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
      Do you wish to reject {{user.name}}?
    </h3>
  </div>
  <div class="modal-body" id="modal-body">
    If rejected, {{user.name}} ({{user.email}}) will not be able to access any services later.
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" ng-click="$ctrl.cancel()">No</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Yes</button>
  </div>
</div>
