<div class="toolbar" role="banner">
  <span>{{title}}</span>
  <div class="spacer"></div>
  <div *ngIf="user; else loggedOut">
    <button mat-raised-button [matMenuTriggerFor]="notificationsMenu" class="mr-2">
      <mat-icon>notifications</mat-icon>
    </button>
    <mat-menu #notificationsMenu="matMenu">
    </mat-menu>

    <button mat-raised-button [matMenuTriggerFor]="menu">{{user.name}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon> Profile
      </button>
      <button mat-menu-item>
        <mat-icon>dashboard</mat-icon> Dashboard
      </button>
      <button mat-menu-item *ngIf="isAdmin">
        <mat-icon>settings</mat-icon> Admin
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon> Log Out
      </button>
    </mat-menu>
  </div>
  <ng-template #loggedOut>
    <button mat-raised-button color="primary" class="mr-2" [routerLink]="['/', 'register']">Register</button>
    <button mat-raised-button [routerLink]="['/', 'login']">Sign In</button>
  </ng-template>
</div>
