<mat-toolbar class="toolbar">
  <span>{{title}}</span>
  <div class="spacer"></div>
  <div *ngIf="user; else loggedOut">
    <button mat-raised-button class="mr-2" (click)="openNotifications()">
      <mat-icon *ngIf="notifications.length == 0">notifications</mat-icon>
      <mat-icon *ngIf="notifications.length != 0" class="unread-notifications">notification_important</mat-icon>
    </button>

    <button mat-raised-button [matMenuTriggerFor]="menu">{{user.name}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/', 'profile']">
        <mat-icon>account_circle</mat-icon> Profile
      </button>
      <button mat-menu-item [routerLink]="['/', 'dashboard']">
        <mat-icon>dashboard</mat-icon> Dashboard
      </button>
      <button mat-menu-item *ngIf="isAdmin" [routerLink]="['/', 'admin']">
        <mat-icon>settings</mat-icon> Admin Area
      </button>
      <button mat-menu-item *ngIf="isAdmin" (click)="toggleAdminMode(); $event.stopPropagation()">
        <span *ngIf="adminMode">
          <mat-icon>star</mat-icon> Admin Mode
        </span>
        <span *ngIf="!adminMode">
          <mat-icon>star_border</mat-icon> Admin Mode
        </span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon> Log Out
      </button>
    </mat-menu>
  </div>
  <ng-template #loggedOut>
    <button mat-raised-button color="primary" class="mr-2" [routerLink]="['/', 'register']">Register</button>
    <button mat-raised-button [routerLink]="['/', 'login']">Sign In</button>
  </ng-template>
</mat-toolbar>
